.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: clip;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: 1000vh;
    background-color: #fff;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 12vw;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.025em;
}

.port {
  color: #000;
  font-family: "Rubik Glitch", system-ui !important;
}

.folio {
  color: #fff;
  font-family: "Rubik Glitch", system-ui !important;
  mix-blend-mode: difference;
}

.description {
  font-size: 17px;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 0;
  background-color: #fff;
  overflow: hidden;
}

.gallery-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 160vw;
  height: 100vh;
  display: flex;
  gap: 4em;
}

.col {
  position: relative;
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 4em;
  will-change: transform;
}

.portfolio-img {
  flex: 1;
  overflow: hidden;
  background-color: #fff;
}

.portfolio-img.main img {
  position: relative;
  transform: scale(2);
  will-change: transform;
}

.container {
  width: 100%;
  height: 100%;
}

section {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: pink;
  padding: 2em;
}

.hero {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.hero-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* z-index: 1; */
}

.header {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #fff;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 4em 0;
  background-color: #000;
  color: pink;
}

.divider {
  width: 1.5px;
  height: 30%;
  background-color: pink;
}

section.ws {
  width: 100vw;
  height: 600vh;
  background-color: transparent;
}

.project-container-right {
  display: flex;
  flex-direction: row; 
  justify-content: space-between; 
  align-items: center; 
  height: 100vh;
  background-color: #000;
  color: #fff;
  padding: 2em;
}

.visit-right {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.025em;
  color: #fff;
  z-index: 21;
}

.visit-right:hover, .visit-left:hover {
  color: pink;
}

.project-img {
  width: 45%;
  height: auto;
  object-fit: contain;
}

.project-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  max-width: 50%;
}

.project-info {
  font-size: 20px;
  margin-bottom: 1em;
  font-family: Arial, Helvetica, sans-serif;
}

.project-link {
  color: #000;
  font-size: 18px;
  text-decoration: none;
}

.project-link:hover {
  color: pink;
}

.project-container-left {
  display: flex;
  flex-direction: row; 
  justify-content: space-between; 
  align-items: center; 
  height: 100vh; 
  background-color: #fff;
  color: #000;
  padding: 2em; 
}

.visit-left {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.025em;
  color: #000;
  z-index: 21;
}

.project-text {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  max-width: 50%;
}

.project-img {
  width: 40%;
  height: auto;
  object-fit: contain;
}

.project-info {
  font-size: 20px;
  margin-bottom: 1em;
}

.project-link {
  color: #000;
  font-size: 18px;
  text-decoration: none;
  z-index: 21;
}

.project-link:hover {
  color: pink;
}

.outro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #000;
  color: pink;
}

.footer-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* google fonts */
.jacquard-12-regular {
    font-family: "Jacquard 12", system-ui;
    font-weight: 400;
    font-style: normal;
  }

  .bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }  

  .rubik-glitch-regular {
    font-family: "Rubik Glitch", system-ui;
    font-weight: 400;
    font-style: normal;
  }  
  /* google fonts */

/* LOADER START */

.pre-loader {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    z-index: 19;
  }
  
  .loader {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
  }

  .loader-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    width: 400px;
    z-index: 20;
    color: #fff;
    z-index: 19;
  }

  .loader-text {
    font-size: 5em;
    z-index: 19;
  }

  .count {
    flex: 2;
    text-align: right;
    line-height: 1;
    padding: 0 1em;
    font-family: "Bebas Neue", sans-serif;
    z-index: 19;
  }

  .copy {
    flex: 6;
    font-family: "Rubik Glitch", system-ui;
    font-size: 1.563em;
    text-transform: uppercase;
    line-height: 1;
    z-index: 19;
  }

  .ml16 {
    overflow: hidden;
    z-index: 19;
  }

  .ml16 .letter {
    display: inline-block;
    line-height: 1em;
    font-size: 2em;
    z-index: 19;
  }

  .loader-bg {
    position: absolute;
    display: block;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: pink;
    z-index: 19;
  }

  /* LOADER END */

 /* NAV */

 .kaneki {
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
}

nav {
  width: 100%;
  padding: 2em;
  display: flex;
  z-index: -2 !important;
}

a {
  text-decoration: none;
  color: pink;
  cursor: pointer;
  font-family: "Bebas Neue", sans-serif;
}

a:hover  {
color: rgb(255, 125, 147) !important;
}

i:hover {
color: rgb(255, 125, 147) !important;
}

nav > div {
  flex: 1;
  font-size: 1.5em;
}

.links {
  display: flex;
  justify-content: flex-end;
  gap: 5em;
}

  /* NAV */

/* MEDIA QUERIES */

@media screen and (min-width: 901px) {

  .loader-2-mobile {
    display: none;
  }

}

@media screen and (max-width: 900px) {

  footer {
      flex-direction: column;
      gap: 2em;
  }

  .footer-copy p {
      width: 100%;
  }

  .footer-nav {
      width: 100%;
      justify-content: space-between;
  }

  nav {
      display: flex;
      flex-direction: column;
  }

  .img {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    width: 10em;
    height: 12em;
    padding-right: 1.5em;
  }

  .img:nth-child(1) {
    width: 10em;
    height: 12em;
    background-size: cover;
  }

  .img:nth-child(2) {
    width: 10em;
    height: 12em;
    background-size: cover;
  }

  /* LOADER */

  .loader-2 {
    display: none;
  }

  .loader-2-mobile {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }

  .loader-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    width: 25em;
    z-index: 2;
    color: #fff;
  }

  .copy {
    flex: 6;
    font-family: "Rubik Glitch", system-ui;
    font-size: 1em;
    text-transform: uppercase;
    line-height: 1;
  }

  /* LOADER END */

       /* MOBILE NAV */

       .logo {
        width: 2em;
        height: 2em;
        border-radius: 50%;
        position: absolute;
        left: 5%; 
        top: 2%;
      }
      
      nav {
        width: 100%;
        padding: 2em;
        display: flex;
        z-index: -2 !important;
        flex-direction: column; 
        align-items: flex-end; 
        right: 0; 
        top: 0; 
      }
      
      a {
        text-decoration: none;
        color: #000;
        cursor: pointer;
      }
      
      a:hover {
        color: pink !important;
      }
      
      i:hover {
        color: pink !important;
      }
      
      a:hover ~ .cursor {
        color: pink;
        cursor: pointer;
        transform: scale(6);
      }
      
      nav > div {
        font-size: 1.5em;
      }
      
      .links {
        display: flex;
        flex-direction: column;
        gap: 1em;
      }
  
      .primary-navigation {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 40%;
        background: white;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: min(3rem) 2rem;
        z-index: 1000;
        transform: translateX(100%);
        transition: transform 350ms ease-out;
    }
  
    .primary-navigation[data-visible="true"] {
        transform: translateX(0%);
        color: #000;
    }
  
    .primary-navigation a {
        color: #000;
    }
  
    .menu-btn {
        position: absolute;
        right: 2%; 
        top: 2%;
        z-index: 9999;
        padding-right: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: all .5s ease-in-out;
    }
  
    .menu-btn_burger {
        width: 25px;
        height: 3px;
        background:#000;
        border-radius: 2.5px;
        transition: all .5s ease-in-out;
    }
  
    .menu-btn_burger::before,
    .menu-btn_burger::after {
        content: '';
        position: absolute;
        width: 25px;
        height: 3px;
        background:#000;
        border-radius: 2.5px;
        transition: all .5s ease-in-out;
    }
  
    .menu-btn_burger::before {
        transform: translateY(-8px);
    }
  
    .menu-btn_burger::after {
        transform: translateY(8px);
    }
  
    /* ANIMATION */
    .menu-btn.open .menu-btn_burger {
        transform: translateX(-50px);
        background: transparent;
        box-shadow: none;
    }
  
    .menu-btn.open .menu-btn_burger::before {
        transform: rotate(45deg) translate(35px, -35px);
    }
  
    .menu-btn.open .menu-btn_burger::after {
        transform: rotate(-45deg) translate(35px, 35px);
    }
  
  
}